[2016-07-07 22:12] aristidesfl opened #1 "Can't import using commonjs"
Add support for loading with CommonJS syntax too `AsyncComputed = require('vue-async-computed')`.

In the meanwhile a workaround is to use `AsyncComputed = require('vue-async-computed').default`

[2016-07-08 06:20] #1 closed

[2016-07-08 07:03] foxbenjaminfox commented on #1
Sure, it makes sense to have support for CommonJS.

Luckily, it's only a babel plugin away.

I added the plugin to the project, so now it should properly work also with CommonJS.

[2016-08-30 19:52] rasantiago opened #2 "Default Values"
This plugin has been a life saver for me and my team.  Thank You!

One issue we run into, though, is that we get Vue warnings from our templates when the asyncComputed property has not yet resolved.  Do you think there is any way to set a default value that is returned while the promise(s) has not resolved?

[2016-08-30 20:21] foxbenjaminfox commented on #2
Awesome, I'm glad you like it!

It's true that the real tough part of async properties as opposed to sync ones is how to handle them until the promise resolves. The way I implemented it is that the property is `null` until then, which is fine, but I agree far from ideal.

It means that either you do null checks every place that you use the async property, or that you suffer the warnings. Neither i

[2016-09-05 06:02] kincaidoneil opened #3 "Compatibility with Vue.js 2.0?"
After simply installing the plugin with `Vue.use()`, it throws an error: `Uncaught TypeError: this._initComputed is not a function`. I'm using Vue.js 2.0 RC-4, so I *assume* that's causing the issue. Is adding compatibility for 2.0 on the horizon, or is the issued caused by something else?

Thanks--love the plugin!

[2016-09-05 06:20] foxbenjaminfox commented on #3
Quite right. This package uses some Vue internals that have been changed quite a bit between version 1.0 and 2.0.

Adding compatibility for 2.0 is certainly on the horizon. Specifically, I'm waiting for the final version of Vue 2.0 to be released. But as soon as it is I intend to make this plugin compatible with it. (Or rather, I intend to write a new version of this plugin which will be compatibl

[2016-09-06 06:43] foxbenjaminfox commented on #3
I've published a release candidate, tagged `next`. Barring major changes to the Vue internals, this is more or less the version I will release after Vue 2.0 is published.

Nevertheless, the standard disclaimer applies. You probably shouldn't use this in production yet, at least unless you really know what you're doing.

But if you want to try it out with Vue 2.0, you can `npm install vue-async-com

[2016-09-16 21:02] veksen opened #4 "Possibility of passing a property (acting as a method)"
Would it be possible to pass an argument? I can "hack" it on a computed property like below, but asyncComputed properties expect a return that is a promise.

[code]

[2016-09-18 11:21] foxbenjaminfox commented on #4
Well, it expects a promise as the return value for a reason: if you aren't returning a promise, you can just use regular computed properties.

Perhaps I'm just not understanding your use case. Can you give an example of what you want to be able to do?

[2016-09-19 15:48] veksen commented on #4
Sorry, I wasn't really clear. I'm currently using a method instead a computed property, but I'd like that to be async.

Computed properties do not take arguments, but it can still be possible with the example I showed up top. Would it be possible to pass an argument to an asyncComputed, either directely or indirectly?

`{{ totals(date) }}` or `{{ totals.inDay(date) }}`

[2016-10-01 19:09] foxbenjaminfox commented on #3
The latest version of `vue-async-computed` is now the Vue 2.0 compatible rewrite. You now should have no trouble at all with using this plugin with Vue 2.0.

[2016-10-01 19:09] #3 closed

[2016-10-22 10:05] jin5354 commented on #2
Looking forward to the asyncComputedDefaults feature.
Now I'm doing null checks everywhere...

[2016-10-30 08:44] foxbenjaminfox commented on #2
I actually went with a slightly different syntax to define default values, inspired by the way the core Vue library [allows you to define more complicated computed properties](https://vuejs.org/guide/computed.html#Computed-Setter).

So the new syntax works like this:
[code]
This allows you to keep all the configuration for a given property all in the same place, as opposed to defining the getter f

[2016-11-02 08:46] #2 closed

[2016-11-03 03:47] wmhilton commented on #4
Um, I think this was just a total misunderstanding. Vue already has methods... and computed properties are a separate concern from methods. I think you can safely close this.

[2016-11-03 10:35] foxbenjaminfox commented on #4
@wmhilton: You're not wrong. It is indeed a totally separate concern. But it would be nice to be able to have asynchronous methods that return promises, and use them transparently in a template.

Effectively, what @veksen is asking for is a way to use `await` inside an interpolation in a template. That would be nice: To perhaps be able to write `{{ await myMethod() }}` and have it just work.

It i

[2016-11-03 13:20] wmhilton commented on #4
Whoa! OK, I kinda see what you're getting at. I can't see the use case (yet) but that's probably just me: I don't think I've ever used a method call in a template except as an event handler. I would consider the method call part of the "logic" and have that done in the `<script>` of a component rather than in the `<template>`.

Yes, I don't think you'll be able to solve "the async problem" entirel

[2016-11-03 17:59] foxbenjaminfox commented on #4
You're entirely correct in that methods are generally more logic-like. But a very important use for methods is as pseodo-computed properties that take arguments. Yes, you could also use filters for that purpose, but sometimes a method is easier. For instance, [this part](https://vuejs.org/guide/list.html#Displaying-Filtered-Sorted-Results) of the guide has a bit about using a method to replace a c

[2016-11-14 01:38] fega opened #6 "upload as script tag"
Hello, I'm new in Vue js and module loading...

i want to to upload the plugin using something like

	<script src="./vue.async.js"></script>

How can I achieve that?

thanks

[2016-11-15 19:42] foxbenjaminfox commented on #6
In general, I'd recommend using npm to fetch your dependencies, reguardless of wether you are using a module system like webpack or including the scripts directly in your page.

But if you're new to all this that might be a bit more than you want to take on right now. If you want to just link to it on a CDN you can:

[code]

I just now added an explanation to the README about this. Be sure to incl

[2016-11-15 20:14] fega commented on #6
Hello  fox, thanks for the explanation, I already know how to use npm, and I'm comfortable with.
I'm new with browserify and webpack and it seems to be so complicated for the little projects that I'm working on. also, I'm new with this MVC and MVVM frameworks like Vue or react, so I tend to put everything as:
`<script src="https://unpkg.com/vue-async-computed@2.1.1"></script>`

Like in the old sch

[2016-11-15 20:22] foxbenjaminfox commented on #6
Sure, glad you find it useful. :smiley:

[2016-11-15 20:22] #6 closed

[2016-12-01 14:40] dsl101 opened #7 "Installation problem"
This is exactly what I was looking for to solve an async computed property problem, but on installing I get this error:

	test@1.0.0 /vue/test
	├── UNMET PEER DEPENDENCY vue@2.1.3
	└── vue-async-computed@2.1.3

I don't think there is a vue 2.1.3 - is it just a glitch in the vue-async-computed package.json file?

[2016-12-01 14:46] dsl101 commented on #7
I also tried the global script tag approach, but then I see this in the browser console:

	Uncaught ReferenceError: exports is not defined
	    at vue-async-computed@2.1.3:3

I _am_ using Webpack / Babel, so perhaps this method of installing doesn't play nicely in that environment?

[2016-12-02 10:50] foxbenjaminfox commented on #7
It is rather strange that it's giving you that error message, because vue-async-computed [has a peer dependency on vue@2.0.3](https://github.com/foxbenjaminfox/vue-async-computed/blob/master/package.json#L47).

Are you sure that you don't accidentally have a dependency in some other package on vue@2.1.3? Perhaps when installing vue-asyc-computed@2.1.3 you changed the line for the vue package as we

[2016-12-02 15:18] dsl101 commented on #7
I'm still newish to npm, so maybe I'm doing it wrong. I just tried `npm update` to check for issues, and it returned nothing (usually a good sign). I then tried to install vue-async-computed and I get the dependency error. I'm not sure where to look. I've also put the whole package.json file below, and I can't see anything pinned to a specific version. Indeed, the error is now for `vue@2.1.4`, one

[2016-12-03 18:55] foxbenjaminfox commented on #7
Interesting. In fact, there is a Vue 2.1.4, which was published yesterday. It seems that Vue 2.1.3 was indeed the latest version when you first tried.

I also now see the problem. NPM's error message in this case is rather confusing. What it's saying is that vue@2.1.4 doesn't fit vue-async-computed's peer dependency. This is because vue-async-computed's peer dependency is ~2.0.3, meaning 2.0.3 or

[2016-12-05 14:29] dsl101 commented on #7
Well, yes I suppose it might be helpful if `npm` said exactly _how_ the dependency wasn't met - then it might have been easier to untangle. Anyway, many thanks for fixing both ways of including v-a-c! `npm install` runs now without errors (I haven't checked the script tag method I'm afraid).

[2016-12-05 14:29] #7 closed

[2016-12-05 15:08] foxbenjaminfox commented on #7
Yes, I also fixed the script tag method.

It's true that `npm`'s error message in this case isn't so good. In general, peer dependencies in `npm` are rather a pain, in that sometimes it's hard to tell how to deal with or to satisfy them.

With `vue-async-computed@2.2.0`'s new (looser) peer dependency, this should hopefully not be an issue again.

[2016-12-09 11:56] d1manson opened #8 "feature request - debounce asyncComputed"
It would be nice to be able to define a computed function which waits for 0 or more milliseconds before issuing the compute request, and provides various options for what happens if subsequent requests arrive during that delay.

I'm using `asyncComputed` currently with `fetch`, but I want to throttle the number of fetch requests being made, and show a "working..." temporary output or something.

T

[2016-12-09 14:07] foxbenjaminfox commented on #8
That does indeed sound like a useful thing to be able to do.

I don't think you need any particular help from this plugin to do it though. Already, you can write something like this, using any promise-based debounce, for instance as provided by the `debounce-promise` package:

[code]

Debouncing the function passed to `vue-async-computed` does not require any particular changes to the plugin.

On

[2016-12-12 11:23] d1manson commented on #8
Thanks for the reply - you are absolutely right about all your points!
(although for the time being I have just written a basic custom bit of code inside the `asyncComputed`.

Nice library by the way! ;)

[2017-01-18 10:28] mdreizin opened #9 "default as function"
Hello,

It would be nice to use function for getting default value:

[code]

[2017-01-18 10:36] mdreizin opened #10 "Pass raw err to errorHandler callback"
Hello,

It would be nice to use raw `err` in `errorHandler` callback:

Vue.use(AsyncComputed, {
  errorHandler(err) {
    console.log('Hey, an error!')
    console.log('---')
    console.log(err.message)
  }
)

[2017-01-19 09:06] foxbenjaminfox commented on #9
The main issue with this is that currently, the default values are set in the `beforeCreated` hook, so in your example it would be called before `this.postId` is set. (Putting aside the slight error in the example you gave: The arrow function has a lexically scoped `this`, so `this.postId` wouldn't refer to what you'd want it to regardless. But that's a separate matter.)

So, what are the options?

[2017-01-20 10:54] #9 closed

[2017-01-20 10:55] foxbenjaminfox commented on #9
I've just released a new version including this feature. Thanks!

[2017-01-20 10:57] #10 closed

[2017-01-20 10:58] foxbenjaminfox commented on #10
I've added a new option, `useRawError`. If you pass a truthy value for that option it will pass the raw error object to the error handler.

[2017-01-20 10:59] mdreizin commented on #10
@foxbenjaminfox Thanks a lot.

[2017-01-20 11:00] mdreizin commented on #9
@foxbenjaminfox Thank you for quick implementation of this feature ;)

[2017-01-20 11:01] foxbenjaminfox commented on #4
For the reasons discussed above, I think it unlikely that this will be implemented any time soon, so I'm closing this issue.

I'll keep my eyes open though. Who knows, perhaps I'll find a nice and elegant way to implement this at some point.

[2017-01-20 11:01] #4 closed

[2017-03-14 10:10] Alphmega opened #12 "set value when loading"
`Custom default value, which will be used until the data is loaded for the first time`, but however, how can i set loading value every time with this plugin.
Example, how can i set loading status after i click a btn, and before async data is prepared

[2017-03-14 15:09] foxbenjaminfox commented on #12
At the moment there is no integrated way to do that. This plugin has a slightly different goal in mind. What it does is allow you to treat remote data (or otherwise asynchronously accessible data) almost exactly like local synchronous data, without having to have an explicit load step.

This can be very useful, but if you don't want to use it, you can manage without. It's perfectly alright to have

[2017-03-15 02:25] Alphmega commented on #12
I am sorry not described this issus clearly, actually, the btn trigger some other properties change that will cause async properties change
[code]

[2017-03-17 11:47] foxbenjaminfox commented on #12
I see what you mean, and I see why you want to use `vue-async-computed` for that. Indeed, perhaps this is a reasonable use case for `vue-async-computed`.

Nevertheless, I feel that the example is slightly stretching what `vue-async-computed` is meant to do: My goal with `vue-async-computed` is to make the fact that the computed data is asynchronous completely transparent, so that you can treat it

[2017-03-20 07:48] Alphmega commented on #12
Actually, i did the same as what you said before your reply,
But i hope you will considering this feature in the future. :stuck_out_tongue_closed_eyes:

[2017-03-20 07:53] foxbenjaminfox commented on #12
I'm glad you've found your solution.

I will keep this in consideration as a formal feature to add in the future. :smiley:

[2017-03-20 07:53] #12 closed

[2017-03-23 07:19] Alphmega opened #13 "The default value should be `undefined` instead of ` null`"
Such as title
Another problem: default value giving as undefined will be ignore, but set a function returning undefined, the plugin perform correct.

[2017-03-23 11:32] foxbenjaminfox commented on #13
Actually, I believe `null` is appropriate. Keep in mind that the computed property certainly is defined, it's just doesn't have any data yet.

In as much as there is a semantic difference between `undefined` and `null`, I definitely feel that this case falls strongly on the side of `null`.

Given that you have defined the async computed property, it certainly isn't undefined, even before the data

[2017-03-24 08:58] Alphmega commented on #13
I listened to my colleagues' opinions and referred to some articles on the web. They thought that the difference between `undefined` and` null` was as follows

The null value is a primitive value that represents the null, empty, or non-existent reference.

I understand what you mean, but for the computed property, I tend to think that it is `a primitive value used when a variable has not been assi

[2017-03-24 09:29] foxbenjaminfox commented on #13
You're right that that's the difference, but I disagree about which one is
relevant in this case.

You say `undefined` is used when a variable has not been assigned a value.
But in this case, you did assign it a value, in the `asyncComputed` block,
it's just that the value in question hasn't arrived yet.

In other words, between when you declare the computed property and between
when the property'

[2017-03-25 17:18] foxbenjaminfox commented on #13
You're right that that's the difference, but I disagree about which one is
relevant in this case.

You say `undefined` is used when a variable has not been assigned a value.
But in this case, you did assign it a value, in the `asyncComputed` block,
it's just that the value in question hasn't arrived yet.

In other words, between when you declare the computed property and between
when the property'

[2017-03-26 16:16] Alphmega commented on #13
That sound good, and i cant wait to do like this in my project with this feature 😊

[2017-03-27 08:17] AaronChen2012 opened #14 "vue@2.2.5,use has error"
use create dialog,with this way
import Vue from 'vue'
let DialogConstructor = Vue.extend(require('./main.vue'))

let instance;

var Dialog = function(options) {
	instance = new DialogConstructor({
    	data: options
  	});
	instance.vm = instance.$mount();
	document.body.appendChild(instance.vm.$el);
	instance.vm.show = true;
	return instance.vm;
}
export default Dialog;

can not execute async-com

[2017-03-27 14:00] thgh opened #15 "Feature request - lazy load"
I expected the computed getter to only fire when the getter is accessed. Do you think it's implementable as an option? `{ lazy: true }`

I was able to implement the behaviour, but had to change a lot:
[code]

[2017-03-29 12:46] foxbenjaminfox commented on #15
Sure, this is a great feature to have. This kind of lazy loading means that the first time you access the computed property, the value will be `null`, and you'll have to wait for the first real value, but that's a reasonable trade-off sometimes.

The idea is great, but the code you included makes half the library's tests fail. It might be a good jumping off point, but the actual implementation nee

[2017-03-29 12:50] foxbenjaminfox commented on #14
Care to give some more information about the error you receive? The code you provide doesn't use `vue-async-computed` at all. As it is, from the information provided, I can't debug your code for you. But it seems unlikely to be directly related to `vue-async-computed`.

[2017-04-04 14:57] ianopolous opened #17 "Infinite dependency chains"
Thanks for the great library! I'm trying to debug an issue where I end up with 2 async computed properties cyclically triggering each other. As far as I can see it should be only one way. I just wanted to check that it is okay to have one async property depend on another?

The two properties I have are "files" and "currentDir". I expect "files" to depend on "currentDir", but not the other way arou

[2017-04-04 16:28] ianopolous commented on #17
I couldn't figure out the cause of that loop chain, but I've figured out a workaround using explicit watches and not async computed methods. So I'm happy to close this.

[2017-04-04 16:28] #17 closed

[2017-04-05 12:30] thgh commented on #15
The code above does not work as I wished. It wish I could use this pattern:

[code]
This structure would allow to refetch the resource when the watcher is triggered. Perfect for listviews with a filter/pagination/search

[2017-04-10 02:37] AaronChen2012 commented on #14
demo:http://jsrun.net/8ekKp/edit

[2017-04-10 06:01] AaronChen2012 commented on #14
it means use Vue.extend,then can`t execute asyncComputed.

[2017-05-02 15:58] foxbenjaminfox commented on #13
I have now released version 3.1.0 of `vue-async-computed`, containing, among other things, this feature. I hope it meets your needs.

[2017-05-02 15:58] #13 closed

[2017-05-02 19:00] foxbenjaminfox commented on #14
Sorry for the delay in getting back to you. As of v3.1.1, I have fixed a problem with the way `vue-async-computed` was handling the `asyncComputed` object, so it should now traverse the prototype chain properly. This means that it should now work as expected with `Vue.extend`.

[2017-05-02 19:00] #14 closed

[2017-05-03 04:30] AaronChen2012 commented on #14
thinks

[2017-05-03 23:46] Yovar opened #18 "Document potential issue with dependency not being bound to the computed property"
Hello, nice project !

I'd like to give my input on a potential issue one may encounter if he doesn't understand the logic behind VueJS dependencies. The following code will not update the asynchronous property on `username` change:

[code]

From my understanding VueJS uses getters on the component's properties to detect if they are accessed between the invocation and the return of a function. In

[2017-05-12 09:11] Alphmega opened #19 "Firefox report error when using `get` function with latest version"
See demo
https://jsfiddle.net/nx497qxq/3/
version: Vue 2.3.3 Async-computed 3.1.2

[2017-05-12 10:30] foxbenjaminfox commented on #19
Yup, that's a pretty nasty bug. It escaped being caught by the automated test suite because the tests get run with the Webkit engine, and the bug only shows up in Gecko. I'll need to consider how to arrange for the tests to run under multiple browser engines, to prevent anything like this from happening again.

In any case, I have released `vue-async-computed@3.1.3` which fixes this bug.

[2017-05-12 10:30] #19 closed

[2017-05-15 10:02] Alphmega opened #20 "server-side rendering"
Looks like it does not support server-side rendering, Any plans about adding server-side rendering as a new feature in the short term ?

[2017-06-07 14:25] crimaniak opened #21 "'default' keyword"
'default' is javascript keyword, so es-lint failed with 'Parsing error: Unexpected token' error. I think it's better to use another key for this, like 'defaultValue'.

[2017-06-14 17:47] WillFM opened #22 "Add to Bower?"
Would be extremely helpful if this repo was configured for bower:

https://bower.io/docs/creating-packages/

[2017-06-23 10:31] foxbenjaminfox commented on #21
What version of eslint are you using? `default` is perfectly valid as a property name, although it is indeed reserved as an identifier. Way back in ES3 there was an issue with needing to quote such property names, but that hasn't been an issue for years. It works in all browsers that Vue itself is compatible with.

In short, I think this is more a problem related to a misconfiguration of your lint

[2017-06-23 10:31] #21 closed

[2017-06-23 10:39] foxbenjaminfox commented on #18
You're quite right that this might be a bit confusing. Ultimately, it's a pretty standard beginners stumbling block with callbacks. Many beginners often try to write something like:
[code]

and are then confused when it does not work.

The issue here is the same, and in order to be fully beginner friendly it would be great to document it. I'd actually really welcome a pull request with a good expl

[2017-07-05 04:31] n1ru4l commented on #22
Just sayin: https://twitter.com/bower/status/844615305406169095

Any reason why you prefer bower over npm?

[2017-07-17 23:11] WillFM commented on #22
Would have made life easier with current workflow. Being I'm currently using bower for everything else related to Vue. After reading some status on bower though, it appears there in a "Maintenance only" lifestyle, nearing end of life as far as the service goes. So it looks as if I might need to update my workflow as a whole anyway.

[2017-07-17 23:11] #22 closed

[2017-08-09 10:35] Polarisation commented on #15
I also expected the computed getter to only fire when first accessed. I ended up writing my own plugin which works that way (lazy loading): [vue-computed-promise](https://github.com/Polarisation/vue-computed-promise). It's less mature than **vue-async-computed** but may be a good option for those who really need lazy loading, as I did.

[2017-08-14 14:52] dsl101 commented on #15
Hi @Polarisation We meet again :). I have another issue for you (soon), as I'm currently bouncing between this module and yours.

Lazy loading is also _really_ useful (essential?) when using conditional rendering. At the moment, my page uses a flag to differentiate between admin and non-admin users. But some `asyncComputed` props include calls to admin APIs which should _only_ be called if that pa

[2017-08-21 19:57] foxbenjaminfox commented on #15
Alright, it seems that this is a feature that is indeed fairly useful, so I've been experimenting with a good way to implement it.

I've published a prerelease version of this feature: You can do `npm install vue-async-computed@next` to try it out. It allows you to do something like this:

[code]

And then the `fetch` won't be called until myProperty is first accessed.

@thgh, @dsl101, @Polarisati

[2017-08-21 21:13] dsl101 commented on #18
Sorry if I've misunderstood, but I've been caught by something similar too. Isn't the code from your first example:

    setTimeout(() => resolve('Hello ' + this.username + '!'), 1000)

just not getting the correct value of `this` because of the arrow function definition?

[2017-08-22 07:28] dsl101 commented on #15
Fabulous! Works for me. Although `lazy.js` is missing from the package at the moment, so I had to install it by hand. Minor point. The functionality is perfect for my use case. Many thanks!

[2017-08-22 11:58] dsl101 commented on #15
Also, I'm getting this on ios Safari:

    Error in data(): "ReferenceError: Can't find variable: lazyActivePrefix"

[2017-08-22 14:03] foxbenjaminfox commented on #15
Thanks for the feedback, I appreciate it.

It seems like I misconfigured Babel, which is the reason why the `lazy.js` file was missing.

I've published a new candidate version under the `next` tag, which uses [`rollup`](https://rollupjs.org/) to bundle the files, which should fix that problem.

It is likely that the errors you are getting in Safari are because the version of `lazy.js` that you ins

[2017-08-22 15:38] dsl101 commented on #15
Nice - all working on OSX and ios after an update. :)

[2017-08-23 10:13] foxbenjaminfox commented on #15
That's great to hear.

Everything looks good, so I've now released this feature in version 3.3.0.

[2017-08-23 10:13] #15 closed

[2017-08-30 09:01] dsl101 opened #24 "Uglify issue with async-computed?"
When I try to build my Vue / Quasar app, I get this error during the build process:

    ERROR in js/vendor.js from UglifyJs
    Unexpected token: punc (() [js/vendor.js:62695,8]

That line is the `get ()` definition in this function:

    function makeLazyComputed (key) {
      return {
        get () {
          this[lazyActivePrefix + key] = true;
          return this[lazyDataPrefix + key]

[2017-09-02 07:42] Yovar commented on #18
@foxbenjaminfox Sorry I don't feel confident doing a pull request eplaining this issue because I don't feel confident enough with the English language.

@dsl101 No, in this case `this` is referencing the context of the `greeting` function, the Vue instance. This is expected.

[2017-09-02 08:02] foxbenjaminfox commented on #18
@Yovar: That's fine. I'll try and think of how I can best write it up myself. Thank you for raising this issue, in any case.

@dsl101: As @Yovar says, the problem here isn't the arrow function. `this` is supposed to be the Vue instance, and the arrow function lets it remain the Vue instance.

The problem is that inside a callback inside the `greeting` function isn't (synchronously) part of the `gr

[2017-09-05 10:36] Blizzke commented on #24
Have exactly the same issue at this point, it is "more recent" (last 2 months or so) as it has always worked for me so far

[2017-09-05 11:32] dsl101 commented on #24
I think since the source was split into 2 files (with `lazy.js` being added), the transpilation isn't working right, and so some ES6 is slipping through... Still don't have a fix though - I don't need to build just yet, so am hoping a 'proper' fix will come rather than a workaround (like replace `lazy.js` with a pre-transpiled version)

[2017-09-05 17:28] foxbenjaminfox commented on #24
Sorry it took me a week to fix this. I just now started a new job, and I've been rather busy.

By the way, the problem before with Babel was simply that Babel was just concatenating the files, and not properly resolving imports. To solve that, I set up Rollup to bundle the files, and Babel to transpile the bundle.

Then, in addition to having a `main` field in `package.json`, I also followed Rollu

[2017-09-05 17:28] #24 closed

[2017-09-07 05:54] Blizzke commented on #24
Thanks! Can confirm it works again.

[2017-09-17 22:10] AleksueiR opened #25 "Typescript"
Any plans to add Typescript support?

Thanks.

[2017-09-19 11:49] foxbenjaminfox commented on #25
I'm not really into Typescript, so I havn't particularly thought about it. I'm always happy to accept pull requests, though.

(And hey, if I see that this is a thing that would be helpful to many people, I might look into implementing it myself.)

[2017-09-26 11:46] dinony commented on #20
Can confirm that.. I have a SSR app setup via Nuxt and the async computed property is recomputed on the client side.

[2017-09-30 00:26] CAD97 commented on #25
Typescript type definitions don't only give type definitions for Typescript code, but are used by multiple other tools to provide type information -- such as autocomplete in VSCode. Providing type definitions would therefor help more than just Typescript users.

For whoever ends up adding type definitions (which may end up being me, I'm looking into it currently), this reference from Vue is useful

[2017-10-16 05:40] diachedelic commented on #8
Even with `{ leading: true }` set for `debounce()` (which should cause it to run its fn immediately), this approach only calls the internal function once or twice.  Further calls are unresponsive.

[code]

[2017-10-18 17:54] djvonavi opened #26 "not work with vue 2.3.4"
can U help me? I install it, but Vue instance not have in computed props my async prop

[2017-10-25 10:46] GeekJosh commented on #26
Working fine for me in 2.5.2 so either there was a breaking change that has now been resolved or there's an issue with your code - if you share it I'm happy to take a look for you

[2017-12-18 21:20] masterjg opened #27 "Can't make it work with watcher for some reason"
Hi, guys!
Great project you have here. I have one issue thought. For some very odd reason my watcher on async computed property does not initialize recalc. Example:
[code]

First time data is being fetched as expected but if I call `this.refreshCountryList()` for some reason watcher does not pickup anything even when property is updated to `+1`. Maybe I am not doing something correctly? Although I

[2017-12-19 10:42] masterjg commented on #27
Additionally: maybe there is a way to force recalc without using data property? Since I already use method to refresh stuff maybe there is something like `this.$forceUpdate();` or something?

[2017-12-19 12:01] masterjg commented on #27
My bad. Apparently you can not use sync functions that return promise here, you specifically have to use async and await:
[code]

[2017-12-19 12:01] #27 closed

[2017-12-30 23:02] michaelzangl opened #28 "Update pending property"
I currently use this plugin to get resources from the server. I want to display a loading indicator while content is refreshing / updating.

To do this, I'd like to have a property that indicates if a `asyncComputed` property is being recomputed. Something like:

[code]

What do you think of this concept? Is it good to have those implicit properties or do you have a better idea? Should I implement

[2018-01-06 15:51] michaelzangl commented on #28
Created a PR for this: #29

[2018-02-06 23:47] Xosmond commented on #26
Also for me on v2.5.13 is working fine.

[2018-03-12 14:18] #26 closed

[2018-05-02 09:53] duxinxiao opened #30 "I think computed method shouldn't have side effect"
Thanks for all of your work, but I think making computed method async is anti vue's design. In my opinion, I think computed method shouldn't change any state or make api call. If you must, I think you'd better use 'watch' instead.

[2018-05-02 12:50] foxbenjaminfox commented on #30
Well, you certainly don't have to use `vue-async-computed` if you don't want to :smile:.

Not every Vue plugin fits with everybody's preferred style, so it's perfectly fine that this one doesn't fit with yours. For what it's worth, I agree with you that computed methods shouldn't try to avoid changing state, either locally or remotely. But there's still plenty of room for making API calls that are

[2018-05-02 12:50] #30 closed

[2018-05-03 03:09] duxinxiao commented on #30
Thanks for your patiently reply, I get a better understanding of your design purpose. I think it fine to handle GET requests or something like that ( just like you said, you handle the hidden state for users, make a easy to use api ). It's cool to share your thoughts, thanks for your work

[2018-06-02 00:54] zuperm4n opened #31 "Is it possible to set the default value of an asyncComputed property?"
I am using this plugin to render a dynamic list which updates when other properties in the component change.

In my view I have a simple check to see if the computer value has a length of zero to display a "No results message":
[code]

However, by default, when the component initialises the value for `list` is `null` which throws an error saying that the property `length` of `undefined`is not foun

[2018-06-02 00:56] zuperm4n commented on #31
Whoops, I clearly didn't look at the Issues history before posting... (I blame the not-so-obvious title!)

https://github.com/foxbenjaminfox/vue-async-computed/issues/9

[2018-06-02 00:56] #31 closed

[2018-06-02 18:32] foxbenjaminfox commented on #31
For future reference: The second and third code examples of the [usage](https://github.com/foxbenjaminfox/vue-async-computed#usage-example) section of the README demonstrate exactly what you were looking for: setting the default value for an individual computed property.

I'm glad you found the solution, even if your had a slightly indirect route to finding it.  :smiley:

[2018-06-06 22:46] disarticulate commented on #8
I tried this with quasar's debounc function and all I'm getting is a reference to debounced() and not a value.

[2018-06-12 13:31] wendt88 opened #32 "clear value before updating"
It would be nice (also with a setting-parameter) to clear the value while updating.
like:
[code]
[code]
so every time, `someProperty` my `asyncComputed`-property `data` gets evaluated, but the spinner component is shown only the first time.
there should be a possibility to say, set data to default value every time before the promise gets evaluated

[2018-06-12 19:23] dsl101 opened #33 "Can't prefix with underscore"
I've been using things like `mapGetters()` to import a list of getters, some of which are asynchronous, and so I'd like to use something like this:

    asyncComputed: {
      _eventMembers () {
        return this.eventMembers
      }
    },
    computed: {
      ...mapGetters(['eventMembers'])
    }

But this doesn't work. If I reverse the naming like this:

    asyncComputed: {
      eventMembe

[2018-06-30 22:20] topcatarg commented on #25
@CAD97 Did you find a way to add this to a Ts defined Vue object? I don't understand how I can add this to a file defined as a class, without ussing a decorator (which I don't have, off course)

[2018-07-03 18:33] foxbenjaminfox commented on #33
The root of the problem is [this](https://github.com/vuejs/vue/blob/daed1e73557d57df244ad8d46c9afff7208c9a2d/src/core/instance/state.js#L144-L146). Properties in data that are "reserved", that is to say [begin with a `_` or a `$`](https://github.com/vuejs/vue/blob/daed1e73557d57df244ad8d46c9afff7208c9a2d/src/core/util/lang.js#L6-L9), aren't set up to be reactive.

Behind the scenes, `vue-async-com

[2018-07-03 18:38] foxbenjaminfox commented on #32
I can see the use case for this. The initial purpose of this library was actually the opposite: to enable you to treat a remote (or otherwise asynchronously computed) property almost as if it were fully synchronous, abstracting away the asynchronous request and making it appear like any other computed property. But I can also see why that's not always what is wanted, and your use case certainly is

[2018-07-03 18:41] foxbenjaminfox commented on #20
This isn't something its easy to add support for, with the current way `vue-async-computed` works.

I'm going to close this issue now, but as always I'm happy to receive PRs, so if anyone wants to take a shot at adding support for this, feel free.

[2018-07-03 18:41] #20 closed

[2018-07-07 06:36] uHOOCCOOHu opened #34 "Cannot configure default value when recalculating"
I found in README that

But is there a way to configure the default value when recalculating? Currently, it simply keeps the old value until new `Promise` is done.

[2018-07-11 20:08] CAD97 commented on #25
I never ended up going much further with this. I never actually ended up using Vue through typescript, and haven't worked with it in over a year.

[2018-07-23 17:31] foxbenjaminfox commented on #8
@disarticulate: you need to use a promise-aware debounce function, one that debounces based on the value the promise resolves to, not the promise object itself.

For example, one implementation of that you could use is the [`debounce-promise`](https://github.com/bjoerge/debounce-promise) package.

[2018-07-23 17:31] #8 closed

[2018-07-26 14:29] tjallingt opened #35 "[proposal] Allow watch to bail out of updating"
It would allow for a lot of flexibility if watch could return false to bail out of rerunning the getter like so:

[code]

This would watch `pageType` and thus rerun the getter every time the `pageType` changed but only rerun `blogPostContent.get` whenever `watch` is not returning `false` (meaning current behaviour is preserved as long as nothing is returned).

Potentially in a more breaking update

[2018-07-26 16:07] foxbenjaminfox commented on #35
This is a cool idea, but it seems sufficiently different from `watch` that I think it really should be a separate option, instead of repurposing `watch` to have this feature as well.

Let's leave `watch` with its current functionality, and have a separate option `shouldUpdate` that can be used independently from `watch`.

If you want to send a pull request for this, go right ahead. I'll be happy t

[2018-07-27 08:36] tjallingt commented on #35
@foxbenjaminfox submitted PR https://github.com/foxbenjaminfox/vue-async-computed/pull/36

[2018-08-04 15:55] hasghari opened #39 "New release on npm"
Since the addition of the `shouldUpdate` feature there hasn't been a release. Could you please release a new version?

[2018-08-05 20:35] foxbenjaminfox commented on #39
I was holding off on a release until #38 landed, but now that it has, I've released `v3.4.0` on npm.

[2018-08-05 20:35] #39 closed

[2018-08-07 12:28] Alex-Sokolov opened #40 "Error when including vue-async-computed from CDN"
With 3.3.1 (no errors): http://jsfiddle.net/gnxvyqac/1/
With 3.4.0 (errors): http://jsfiddle.net/gnxvyqac/2/

[code]

[2018-08-07 16:51] foxbenjaminfox commented on #40
Yes, that's quite bad. It's fixed now in `v3.4.1`.

`v3.4.0` included a change in the build step from `babel-preset-2015` to `babel-preset-env`, which messed this up by adding a `"use strict";`, and then optimizing `rollup`s use of `this` in the global scope into `undefined`.

I've fixed this by [passing](https://github.com/foxbenjaminfox/vue-async-computed/commit/d2dc0349135428464fb876f65345a629a

[2018-08-07 16:51] #40 closed

[2018-08-07 21:07] Alex-Sokolov commented on #40
Thanks!

[2018-08-22 20:35] acronamy commented on #25
I still think that this should be built in for the above reasons, however the workaround for the moment is to dump this into your `shims-vue.d.ts`

'''
//  an interface which says, this object must be functions only
// you could probably do better
interface AsyncComputedObject{
  [K : string]:()=>any;
}

// ComponentOptions is declared in types/options.d.ts
declare module "vue/types/options" {
  /

[2018-08-28 15:27] racase commented on #25
Anyone has managed to add it with typescript?

[2018-08-28 19:09] ChristophAnastasiades opened #42 "Error when importing component which uses AsyncComputed"
I created a component which uses `vue-async-computed`. However when importing that component into another Vue instance I get an error in `vue-async-computed.js?0f91:47`:

I am not sure whether this is an issue with `vue-async-computed` or not, apparently it might be an issue with Babel. However when importing and using `vue-async-computed` inside the new Vue instance it works fine. Any idea what c

[2018-08-29 06:32] acronamy commented on #25
@recase my comment above you explains how to do it.

[2018-08-29 08:18] racase commented on #25
@acronamy  I have done what your comment says I have already done. What happens is that I do not know how to use it from a component written with typescript

[2018-09-09 15:49] #35 closed

[2018-09-09 15:56] foxbenjaminfox commented on #42
I doubt this error comes from `vue-asyc-computed`, because nowhere in `vue-async-computed` uses `caller`, `callee`, or `arguments` at all.

It might be that the async computed function which you're using is the one that's trying to do one of these things that are forbidden in strict mode, and the error is reported from the place where the library code calls you function, for some reason.

You coul

[2018-09-28 08:08] omarsotillo opened #46 "On Promise error from async computed method, call default()?"
Hello! :+1:

I think the current behaviour is just render default on start and only reacts with on resolve from the promise but never from the reject of the Promise.

Example given this code:

[code]

I would love using default instead of catch and return default when the first import is failed.

Kind regards,
omar

[2018-09-28 12:15] omarsotillo commented on #46
If you need any help with this let me know :smile:

[2018-09-30 11:51] SumNeuron opened #47 "Feature Request: compatibility with vue serve"
If using the vue cli (v3) and vue serve to develop a single file component, then one can not test your plugin.

Otherwise looks promising

[2018-10-03 22:21] wujekbogdan opened #48 "[feature request] Use data properties as defaults"
I know that we can define defaults using the following syntax:

[code]

But it would be great if we could use `data` to define defaults as follows:

[code]

[2018-10-12 12:14] dsl101 opened #49 "Endless loop on navigation back to page with async-computed"
I have a computed prop that depends on getting something from firestore, so vue-async-computed seemed like a perfect way to get this into my component. But, I've hit a snag I've not seen before when navigating back to a page that previously had successfully loaded the async value.

My app has 2 routes (`/` and `/<projectId`), and when on a 'project' page, the user can navigate back to the 'home' p

[2018-10-12 17:22] #42 closed

[2018-10-12 17:32] foxbenjaminfox commented on #49
Whenever something that the getter depends on is updated, that causes the getter to be re-run. (Just like Vue's normal synchronous computed properties.) The reason why you shouldn't pass firebase snapshots back to the getter is that those snapshots are updated "live", and so if the getter uses it, then each time it's updated, then Vue's reactivity system causes the getter to run again.

That's my

[2018-10-12 17:33] #49 closed

[2018-10-12 17:39] foxbenjaminfox commented on #48
I'm not quite sure how it is an improvement to specify the default in `data`. What makes you prefer this proposed method for defining defaults for your async computed properties?

[2018-10-12 17:46] wujekbogdan commented on #48
There are 2 reasons:

1. It's more Vue-way.
2. All the defaults (async and standard Vue properties) would be grouped together. That would make the code easier to read.

[2018-10-12 17:55] foxbenjaminfox commented on #46
I think that silently using the default value as a fallback is a bad idea, on the principle that silently ignoring errors is bad. Specifically, if a component has a bug in it that causes an error to be thrown, you probably want to display either an error page, or the last known good data. You usually wouldn't want to show the default result, which could be a loading message or the like.

It seems

[2018-10-12 18:01] foxbenjaminfox commented on #47
Could you provide more details about what's not working? I created a new Vue app with `vue create app-name`, then did `npm install vue-async-computed`, then added these lines to `src/main.js`:

[code]

And in `src/App.vue` I added to the component an async computed property:
[code]

And to the template I added `{{testing}}`. I then ran `npm run serve`, and I see the string "hello world" as part of

[2018-10-23 05:39] wujekbogdan commented on #48
Same in [vuefire](https://github.com/vuejs/vuefire). That's why I said it's kind of a vue-way.

[2018-10-26 06:52] revelt commented on #28
This is good-one! vue-wait can do loaders but imho integrated solution, all-in-one, like this, is better

[2018-10-29 20:07] tommie commented on #47
I don't know what @SumNeuron's problem is, but I just observed that when I added (`Vue.use`, in `main.js`) vue-async-computed, then hot reload partially stopped working. I think this is new.

It works in all files except the one component that uses `asyncComputed`. I can even make a syntax error, and the server doesn't see it. My project is based on the `webpack` template.

I tried moving the `Vue

[2018-10-29 20:27] tommie commented on #47
I apologize. It seems to be when I import `vue-markdown` that things break. Too many changes at once.

[2018-11-03 19:02] foxbenjaminfox commented on #32
I agree, now that #45 is merged, this gives you a nice and clean way of doing what you want here.

This approach will also give you more control of what happens in each separate case: before it's loaded, after it's loaded, while it's updating, or if it had an error. I don't like the idea of blurring the distinction between the first and the third of those automatically, but of course if that's wha

[2018-11-03 19:02] #32 closed

[2018-11-03 19:14] foxbenjaminfox commented on #48
I see. I suppose it is worth having some consistency with `vue-apollo` and `vuefire`, and if they do it this way, it's probably worth having the ability to do the same thing. Personally, I like to think of `asyncComputed` properties as being more like the component's `computed` properties than like `data`, so it makes more sense to me to have the default of an async computed property to be where t

[2018-11-04 15:48] sharkykh opened #50 "[3.5.0] Bug when no `data` or `asyncComputed` properties are provided"
A bug introduced in version 3.5.0 (most recent) breaks components that **do not contain** a [`data` property](https://vuejs.org/v2/api/#data) and/or an `asyncComputed` property.

Meaning, if I have a component definition containing something like:
[code]

It throws these errors:
1.
[code]
2.
[code]
![image](https://user-images.githubusercontent.com/10238474/47966265-50604e00-e059-11e8-9e93-1bd5283

[2018-11-04 16:16] sharkykh commented on #50
@foxbenjaminfox
I see the test case works.
Perhaps there's a conflict with one of the other plugins in use, mainly Vuex and VueRouter.
I'll try to make a small repo for reproducing the bug.

[2018-11-04 16:31] sharkykh commented on #50
We almost immediately pushed a revert of that update, and the issue was only on the `develop` branch, so maybe you tried `master`?

Thanks! Returning an empty object unconditionally does seem to fix the issue.

[2018-11-04 16:46] sharkykh commented on #50
So, I commented out this line:
https://github.com/foxbenjaminfox/vue-async-computed/blob/0e6fa13b190223290e6298171dbfc1c299eb8f4d/src/index.js#L27

And it works without me changing my code.

[2018-11-04 18:07] foxbenjaminfox commented on #50
@sharkykh:

I took `master`, and updated by hand the version of `vue-async-computed` in `package.json`, then ran the test suite. But the test suite passed, and I wasn't quite sure how to get the html running in a browser. (The `index.html` file loads a `dist/build.js` file that does't seem to exist, and I couldn't figure out how to generate it.)

https://github.com/foxbenjaminfox/vue-async-compute

[2018-11-04 18:18] sharkykh commented on #50
Very well then, I have my answer - `data` should always return an object, which makes sense.
Thank you both!

Yeah sorry, the project is a Python backend and the frontend is in transition to Vue. So not that simple :wink: Thanks for trying though!

[2018-11-04 18:18] #50 closed

[2018-11-04 21:15] michaelzangl commented on #28
Fixed with #45.

[2018-11-04 21:15] #28 closed

[2018-11-04 21:29] michaelzangl commented on #46
Error handling and default value should be two different things.

The default value is usually a null value that can be used in place of the real (success) value that comes from the server (e.g. an empty list). It makes writing vue templates much easier.

What you are trying to do is very specific and this is exactly what the promise try / catch is meant for. That way, you are free to write your e

[2018-11-09 14:34] foxbenjaminfox commented on #46
@michaelzangl: Agreed. All things considered, I wouldn't really mind adding a config option along the lines of the `useDefaultAsFallback` I proposed, but you're right that this really isn't that useful or idiomatic.

I think I'm going to close this issue now. @omarsotillo, if you still feel strongly about this, perhaps let me know what you think about the proposed `useDefaultAsFallback` option, an

[2018-11-09 14:34] #46 closed

[2018-11-09 14:37] michaelzangl commented on #46
@foxbenjaminfox  About the setting: This would make using vue-async-computed in libraries impossible since libraries can't expect any specific behavior. Global options are always a pain for compatibility / modularity.

[2018-11-11 15:03] half2me opened #52 "$asyncComputed.prop.updating is only set on intial evaluation"
The `updating` field is only set when the computed property is first evaluated. After, if the property is re-evaluated, the field is not updated.

[2018-11-15 13:22] half2me opened #53 "Recalculation of async computed has incorrect context when using object form"
When an async computed property is created in the following way:
[code]
Calling `this.$asyncComputed.myProp.update()` will not set the proper context for the property to use `this`. Infact, `this` will be undefined. If `asyncComputed` is a function instead of an object, it works.

Here is a simple example showing the problem. When the property is calculated automatically everything works as expect

[2018-11-16 23:16] michaelzangl commented on #53
Thanks for finding this, I can look into it in ~ 2 weeks.

[2018-12-04 09:38] yangyanju opened #55 "pass parameters"
When I pass the parameter, the final retrun value is empty.
The code is as follows：
html:
<span class="gray-span">市场平均价格{{computedAverage(2048,val.adzone_id)}}元</span>
js:
asyncComputed: {
    computedAverage:{
      get () {
        return function(itemId,resourceId) {
          this.$http.get('/zuanzhan/price/suggest', {
            params: {
              target_type: itemId,
              adzo

[2018-12-05 14:15] Sobient commented on #48
AsyncComputed is just a derivation of Vue's computed. These are not defined as component data, but defined when they're created. It follows that AsyncComputed should behave the same way. If one needs default values, use AsyncComputed's own `default:`
[code]

[2018-12-07 18:14] saraedum commented on #25
I am currently using the typings from this [index.d.ts](https://github.com/saraedum/vue-async-computed/blob/5debb7dcd81f52183be55e05b866fc43278a9905/types/index.d.ts). These provide the interface to `asyncComputed` as part of the `ComponentOptions`. Getting the correct types on the actual computed properties is a bit more complicated though.
Currently, I am using https://github.com/vuejs/vue-class

[2018-12-08 11:09] acronamy commented on #25
So I think I'm wrong in saying callback. As this function parameter passed through the decorator is what I am referring to, it's just a function that decorates the target. I am use to seeing decorators affecting methods, intercepting the internals of that method and changing the output. I think your right on second glance though. The property is the thing to be decorated and it matters not how. I'

[2018-12-10 18:37] johannes-z opened #56 "$asyncComputed is undefined in computed property"
I wanted to use `$asyncComputed.posts.error` in a computed property, but it's undefined and non-reactive. Is there a way to accomplish that?

[2018-12-11 13:54] TeodorDre commented on #55
Why do u need passing params in computed ? Use methods instead.

[2018-12-12 19:15] saraedum commented on #25
There had been some discussion at https://github.com/Microsoft/TypeScript/issues/4881 but from browsing over this issue it does not seem like there are going to be any changes to this soon.

[2018-12-17 02:15] yangyanju commented on #55
Yes.Thank you!I've settled it.

[2018-12-17 02:15] #55 closed

[2018-12-20 20:40] wujekbogdan commented on #25
@foxbenjaminfox

Is there any changes you could merge the typings from the forked [saraedum/vue-async-computed](https://github.com/saraedum/vue-async-computed/blob/typings/src/index.d.ts) repo? They seem to be correct.

[2018-12-29 14:06] raintean commented on #53
accept please, we need it.

[2018-12-29 14:08] michaelzangl commented on #53
The workaround seems to be fine for this.

The clean solution would be to hide the editable $asyncComputed property completely and only expose the computed property. The same way all other properties should then only be exposed as computed properties, which avoids accidental assignments to those properties and solves the current problem that using asyncComputed hides the "data should be a function

[2018-12-29 15:08] half2me commented on #53
@michaelzangl looking forward to the fix, it would be very helpful for me.

[2019-01-08 19:06] #53 closed

[2019-01-08 19:10] #52 closed

[2019-01-10 11:24] KubasGC opened #60 "this.$asyncComputed.name.update() doesn't allow to access Vue this."
I'm using async computed property like this:

[code]

It works fine, but when I'm using function `this.$asyncComputed.perms.update()` inside method, I have got an error called that I have no access to `this` entity,

[2019-01-27 21:49] tarngerine opened #61 "Plugin does not handle watching of data that is updated asynchronously in a methods: function with a Promise inside"
I'm not sure if this was intentional out-of-scope, or I am using the plugin incorrectly, but let's say you have some component like this:

[code]

In this case, the `selectedFriend` property is not being properly updated when `this.friends` is updated in the Promise. Yes, `this.friends` has the correct data, it's just not triggering a recompute when it's set in `load()`.

FWIW, I can make this wor

[2019-01-27 22:06] #61 closed

[2019-01-27 22:06] tarngerine commented on #61
Nevermind, it was another issue, not async related!

[2019-01-29 17:02] adamchenwei opened #62 "[BUG] 3.5.1 need to remove the `module` attribute immediately, it breaks webpack build"
Is `module` a standard property, @mtorromeo? because so far I see its not but only for rollbar. https://stackoverflow.com/questions/42708484/what-is-the-module-package-json-field-for
Also, this is breaking IE11 support because its importing esm version that does not compile `function` properly. In `module`, its using es6 formating (i.e. in compiled js, we have `get()` instead of correct way of `fu

[2019-01-29 17:51] mtorromeo commented on #62
It's used by bundler tools, so if you want you can configure your own build pipeline to transpile it with babel for example.

[2019-01-29 18:01] foxbenjaminfox commented on #62
I've released v3.5.2 which transpiles also `dist/vue-async-computed.esm.js` (the `module` file.)

@mtorromeo: Yes, definitely. But I do see that it seems that other projects do transpile the file they list as `module` in `package.json`, and it does seem that some people do rely on that. It seems worthwhile to support that use case as well. It's a [fairly simple change](https://github.com/foxbenjam

[2019-01-29 18:01] #62 closed

[2019-01-30 10:06] johannes-z opened #63 "vue-async-computed doesn't work in IE"
I cannot use `vue-async-computed` in IE11 using it like this: `import AsyncComputed from 'vue-async-computed'`. I get the follow Error:

[code]

This is the file/line throwing the error:

[code]

[2019-01-30 16:25] foxbenjaminfox commented on #63
This should be fixed in `v3.5.2`, released yesterday. `v3.5.1` had [an issue](https://github.com/foxbenjaminfox/vue-async-computed/issues/62) with exporting in the `module` field of `package.json` a non-transpiled version of the package, and tools such as webpack would pick that up instead of the `main` file.

While you could configure your build pipeline to transpile the package yourself, there i

[2019-01-30 16:25] #63 closed

[2019-01-31 14:43] TheNoim commented on #25
I use this ts definitions https://raw.githubusercontent.com/saraedum/vue-async-computed/5debb7dcd81f52183be55e05b866fc43278a9905/types/index.d.ts

With this tweak:

[code]

Then I took the decorator idea of @saraedum and improved it.

[code]

Usage:
[code]

[2019-01-31 16:02] saraedum commented on #25
Nice. Let me try how your decorator works out here. I think you don't have to patch the type definition if you do something like this:
[code]

[2019-01-31 16:10] foxbenjaminfox commented on #60
I'm trying to reproduce the bug, but I'm not quite managing. Do you have a minimal replication of the issue you could share? Or even just more detail about what causes the error.

[2019-02-04 21:09] TheNoim commented on #25
@saraedum This looks nice. Thank you.

[2019-02-06 16:59] yancyknight commented on #60
I ran into this problem as well. Here's a code pen I made showing the issue. When `update` is called, the `get` function runs twice, but the first time `this` points to the window, not the Vue instance.
https://codepen.io/yancyknight/pen/LqOEpR?editors=1010

[2019-02-07 17:19] foxbenjaminfox commented on #60
OK, now I see. This is actually a duplicate of #53, which was fixed in #54, which was included in `v3.5.1`. If you upgrade to the latest version of `vue-async-computed`, that will fix the problem.

@yancyknight: thanks for making the code pen with the demonstration of the issue. It was very helpful in making it clear what exactly the problem was, and how it was the same as issue #53.

[2019-02-07 17:19] #60 closed

[2019-02-07 18:39] yancyknight commented on #60
The new version works great, thank you!

[2019-02-25 12:19] tioperez commented on #25
Hi @saraedum @TheNoim i have tried your tweak.

But it is not working for me 😢

**ERROR:** Property or method "helloWorld" is not defined on the instance but referenced during render. Make sure that this property is reactive, either in the data option, or for class-based components, by initializing the property.

[code]

[2019-02-28 09:09] metronom72 opened #69 "Issue with watch in asyncComputed."
I'm  trying to use the next code:

[code]

and after build it provide  the next error trace:

[code]

What am  I  doing wrong?

[2019-03-01 08:54] foxbenjaminfox commented on #69
Which version of `vue-async-computed` are you using? It looks to me that you're using a slightly older version, pre `v3.6.0`, which doesn't support array-style watchers.

If so, you can either upgrade to the latest version of `vue-async-computed`, or, if you're stuck on an old version for some reason, you can use old-style watchers (although those are a fair bit messier.) You can read [here in thi

[2019-03-04 19:03] #69 closed

[2019-03-04 20:12] foxbenjaminfox commented on #56
This should be fixed as of #58.

[2019-03-04 20:12] #56 closed

[2019-03-04 20:13] #47 closed

[2019-03-05 06:37] johannes-z commented on #56
@foxbenjaminfox

It's still initially `undefined`, at least when the asyncComputed property has `lazy: true` set. Because of this I can't make computed properties depend on the asyncComputed state, e.g. `updating`.

[code]

[2019-03-05 09:23] johannes-z opened #70 "Call errorCaptured on Promise rejection"
When throwing an Error inside the `get ()` method of the asyncComputed, the component's registered `errorCaptured` handler is not being called. Can/Should this be added?

[code]

[2019-03-18 11:14] trollderius opened #72 ""Auto install in dist mode" code"
This is so bad if you want to import vue from cdn and use this plugin options.
[code]
I had to copy and manually remove this part to use it in my environtment.

I think this should change in future versions.

[2019-03-19 19:50] foxbenjaminfox commented on #72
Good point. The reason `vue-async-computed` does this is because plugins like `vue-router` and `vue-resource` do, and it seems useful. But you're right that it gets in the way of passing options to `Vue.use`.

I guess one argument would be that the reactively "advanced" who would want to pass options would be using the package through npm, not the CDN build, and so it doesn't matter that much. Tha

[2019-03-19 19:57] foxbenjaminfox commented on #70
Yes, I see. `vue-async-computed` predates the `errorCaptured` error handling mechanism in Vue, so that's why it has it's own different error handling. But now that Vue has this robust error handling mechanism, it makes sense to use it, at least as a fallback after `vue-async-computed`'s error handling. (And then in the next major version of `vue-async-computed`, I suppose I'd remove `vue-async-com

[2019-03-19 20:25] trollderius commented on #72
Yeah, I saw that other plugins work like this.

I'm using "dynamic-cdn-webpack-plugin" that auto-imports all the CDN's at the same time. In that scenario I can't decide when or in wich order include CDN's so none of the solutions fits to me.

The second option could work if "asyncComputedOptions" were a global in window and not inside Vue.
Another solution could be to add a conditional to that blo

[2019-03-20 06:44] johannes-z opened #74 "$asnyComputed is undefined in computed property when watcher is called first"
@foxbenjaminfox

AsyncComputed properties are undefined when being used in a computed property, at least in this edge case that I implemented. I made a sandbox repro: https://codesandbox.io/s/m34kn80m9j

After the latest changes, it's still initially `undefined`, at least when using watchers. Because of this I can't make computed properties depend on the asyncComputed state, e.g. `updating`.

Here

[2019-03-20 11:50] foxbenjaminfox commented on #72
I see. To be fair, that's really an edge use case, and I'm not entirely sure I want to contort things in order to support it. Perhaps it would be best if you indeed keep on using a modified version without those lines.

The reason I would want to put the option on the `Vue` object (or actually, on further reflection, on `Vue.config`) is to avoid having the global `window` namespace be polluted.

H

[2019-03-27 17:20] #72 closed

[2019-04-05 10:13] trollderius commented on #72
Thank you @foxbenjaminfox for the code!
I had never worked with defineProperty getters and I didn't ve much time to spend on this.

But your solution didn't work to me because some vueautify plugin broken when not finds "new Vue()" constructor, so I made some ugly modifications to your code although I'm sure there's a better way to do this.

Anyway, maybe somebody needs this.

[code]

[2019-04-05 10:18] trollderius commented on #72
Thank you @foxbenjaminfox for the code!
I had never worked with defineProperty getters and I didn't ve much time to spend on this.

But your solution didn't work to me because some vueautify plugin broken when not finds "new Vue()" constructor, so I made some ugly modifications to intercept only the use() method, although I'm sure there's a better way to do it.

Anyway, maybe somebody needs this.

[2019-04-05 20:06] saraedum commented on #25
We use this everyday so I am surprised it does not work. Do you have a repo that showcases this?

[2019-04-06 12:37] alfredriesen commented on #20
With 2.6 it would be possible to use the new introduced serverPrefetch hook

[2019-04-08 03:15] nwtgck commented on #25
Hi! Thank you very much, everyone.

I read comments here and made a simple Vue app for asynchronous computation in Vue + TypeScript.

## Online demo
<https://nwtgck-typescript-vue-async-computed-prac.netlify.com/>
A message, "This is an asynchronous message!"  will be shown after 1 sec

## How to make

This is a Git diff for this adaptation.
<https://github.com/nwtgck/typescript-vue-async-computed

[2019-04-09 13:18] dmitriykorobkov opened #75 "$requestState"
$requestState.state is always `updating` if computed resolves to `0`. It is never becomes `successful`.

[2019-04-09 16:59] foxbenjaminfox commented on #75
Hey, I've added a test case that tries to test this issue, but I'm not managing to reproduce it. Can you take a look, and help me track down what's causing your issue?

[2019-04-10 07:12] dmitriykorobkov commented on #75
Hm. I can add I'm using `default: null` option too. And my async functions resolves for about 1 second.
Maybe, it helps to reproduce an error.

[2019-04-10 09:01] foxbenjaminfox commented on #75
Neither of those should matter (especially since the default `default` is already `null`.) I've run a variant of the test with a 1-second long timeout and an explicit `default: null`, but I still can't reproduce this.

Can you give me a code excerpt that seems to trigger this behaviour for you?

[2019-04-11 06:29] dmitriykorobkov commented on #75
[code]

[2019-04-11 10:02] foxbenjaminfox commented on #75
I see what you're saying, and I've tried to replicate exactly that in the test suite here: https://github.com/foxbenjaminfox/vue-async-computed/blob/3be0d8590bf772bf05c86845347e63318438f9ab/test/index.js#L1017-L1050

The test still passes just fine, so I doubt that the problem is in something the test covers here. Is it possible that something else is going on here? Perhaps a reactivity issue of s

[2019-04-11 21:19] foxbenjaminfox commented on #25
I do want to support this officially, but I'm not all that personally familiar with typescript in this context. I've pushed an experimental [`types`](https://github.com/foxbenjaminfox/vue-async-computed/tree/types) branch, with an index.d.ts file based off of the versions by @saraedum and @nwtgck. Can you all confirm that this version (with [this `index.d.ts` file](https://github.com/foxbenjaminfo

[2019-04-16 21:50] mrozekma commented on #25
I'm not doing anything particularly fancy with `vue-async-computed`, but it does work for me. It would be nice if it could enforce that `default` is valid, to avoid e.g.:

[code]

But I get the impression that's fairly difficult in Typescript without support for existential types

[2019-04-23 21:59] mrozekma commented on #25
Not sure if this is a known limitation, but the new properties created by async-computed aren't known to Typescript. That is, if you do:

[code]
you can't refer to `this.foo` anywhere else.

[2019-05-09 20:00] Sharlaan commented on #25
I'm trying to use `asyncComputed` in a THREE.js webgl app, in particular for loading a model.

I got a working version in a vanilla environnement 👍
[code]
... which is then referenced in template as `geometry.position` and `geometry.normal` (empty arrays at start, thanks to the default value).

But now, using the index.d.ts linked above, i want to integrate this in a full Typescript'ed class-based

[2019-05-11 17:32] saraedum commented on #25
@mrozekma the typescript typings won't show up correctly the way you've been using them. You have to use the `@AsyncComputed` decorator as shown in some samples above.

[2019-05-11 17:36] saraedum commented on #25
@Sharlaan your code snippet says
[code]

Somehow you are not pulling in the typings of async computed. I am not surprised the other line then leads to type errors. Check that you have the correct `index.d.ts` available and nothing else tries to provide types for `vue-async-computed`.

[2019-05-16 17:26] Sharlaan commented on #25
@saraedum i double checked if there were any `declare module 'vue-async-computed'` anywhere else but nothing. same for `AsyncComputed`. not a single mention except in the above index.d.ts.
I really don't understand.

TS is asking for some line starting with declare module, while the proposed index.d.ts don't have any. But even if i had this missing line, it does take away the error.

Other thing,

[2019-05-17 02:51] saraedum commented on #25
@Sharlaan can you share a repository where things don't work as expected so I can see for myself?

[2019-05-17 06:38] Sharlaan commented on #25
Sorry, found the problem :
this misleading error were totally unrelated to vue-async-computed.
I were importing some components in main.ts as `import XXX from 'library'`, but the solution were actually to write `import * as XXX from 'library'` ...

So much for working with non-module compliant libraries (POO-style for most) ...

[2019-05-17 10:31] Sharlaan commented on #25
Yes, [here](https://github.com/Sharlaan/webgl-area-picking-vue)

AsyncComputed added in last commit.

[2019-05-17 15:10] saraedum commented on #25
@Sharlaan I think you really misunderstood what's going on in this thread. Typescript support is not in vue-async-computed yet, you have to pull it in from somewhere else. There was simply no typing in your setup so it could not work. Also it seems you did not see https://github.com/foxbenjaminfox/vue-async-computed/issues/25#issuecomment-459399422 and the surrounding posts. You did not define the

[2019-05-17 15:26] Sharlaan commented on #25
ah ok thanks, i'm not expert in Vue and TS indeed, i thought copying the index.d.ts linked in this thread would be enough :s
Testing now i'll edit soon

[2019-05-23 03:24] Buntelrus opened #76 "possibility to access the actual Promise"
I came in touch with this plugin while researching on the following problem:
So far I loaded data asynchronously using vue methods into vue data properties. I adapt the example given in the README for better understanding.

[code]
this works great until I want to do something with the data before they are available. For example redirecting to the users latest post. I can't do this:

[code]

This p

[2019-05-24 02:15] Buntelrus commented on #76
I figured out that you can access the promise with `this._async_computed$user`. But is this best practice?

[2019-05-24 07:51] molvqingtai commented on #61
I want to know how you solved this problem?

[2019-05-24 11:02] foxbenjaminfox commented on #76
The best practise would be to use Vue's `watch`, something like this:

[code]
Not only is this simpler and more idiomatic, it will also handle for you the case when `this.userId` changes (and so `this.user` is recalculated) by applying the logic of possibly redirecting to the user's latest post then too. (Of course, if you for some reason _don't_ want this to happen, this logic should only apply t

[2019-05-25 05:57] Buntelrus commented on #76
Many thanks for your answer. This helped me a lot.
I don't need the promise if I instead watch the async computed property. If it is not `null` i can do whatever I would do in `Promise.then()`

[2019-05-25 06:36] Buntelrus commented on #76
Maybe I was wrong in my comment before. In my case I have async computed property `serie` which will either fetch needed data or load it from Indexed DB. If I want to something when `serie` becomes available I could do it with `Promise.then()` or watch `serie`. This is all great but I want to do something when a certain query parameter is given.

[code]

Therefore I have to watch `this.$route`. If

[2019-05-31 12:21] foxbenjaminfox commented on #76
This is easier than you might think. It doesn't seem that Vue supports this directly with its `watch` API, but its [`$watch`](https://vuejs.org/v2/api/#vm-watch) API method does.

You can call it like this:

[code]

[2019-06-06 12:19] Sharlaan commented on #25
now with TS v3.5, Omit is built-in ;)

[2019-06-08 02:47] geekytime commented on #8
I'm having the same problem as @diachedelic. 🤔

Everything works great until I try to `debounce` the getter function, and then it stops reacting to changes in other properties. I am also using `debounce-promise`.

[2019-06-08 03:00] geekytime commented on #8
I think the `debounce`d function is failing to react because Vue cannot "hear" the the accessors to my other computed values from inside the debounce function wrapper. If I create the `debounce`d function outside the Vue instance, and pass any computed values into the wrapper, it works:

[code]

[2019-06-18 16:10] blackmad commented on #25
Hmm, on tsc 3.4.5 I can't compile Sharlaan's current project, tons of errors about

[code]

[2019-07-01 14:02] hellboywar opened #79 "Conflict with new vue-function-api"
There is a new official plugin [vue-function-api](https://github.com/vuejs/vue-function-api) for
vue 2.0 which gives the vue 3.0 functionality and it's conflicting with vue-async-computed

Steps to reproduce:
1) go to [sandbox](https://codesandbox.io/s/todo-example-vue-rfc-9wfb1)
2) press on "Visit form page" - notice that form is working fine no console errors
3) press on "Back to home page"
4) p

[2019-07-13 08:27] #79 closed

[2019-09-25 05:23] amw commented on #48
Current behavior is also in line with Vue's own `props`. Properties also declare default values by passing a description object and *not* using `data`.

[2019-10-03 22:24] innovate-invent opened #82 "Multiple async dependendants"
I have a situation where I have a hierarchy of components that all have to wait on the same asynchronous event. Currently I am forgoing reactive functionality and passing a promise as a prop to each child. All components wait on the promise and return the result using an async-computed property.

The only means of retaining the reactive functionality is to have the root node own the async-computed

[2019-10-29 10:12] lundmikkel commented on #25
@tioperez Did you ever find a solution to the _"Property or method "foo" is not defined on the instance but referenced during render"_ problem? I've suddenly started getting it as well.

[2019-11-25 14:48] ctf0 opened #84 "asyncComputed property doesnt show up in vue dev-tools unless lazy is true"
for example
[code]

am not sure if this is a bug or intended, if you need any extra info plz advice.

[2019-11-25 20:44] foxbenjaminfox commented on #84
In the dev tools you'll find your async computed property in the `data` section of the dev tools.

Yes, that isn't really the appropriate place for it. It would be nice if it showed up as the computed property that it is. Unfortunately, the dev tools don't take into account what this plugin is doing, and I don't really have an easy way to change that.

I hope that being able to see your `selectedF

[2019-11-25 21:28] ctf0 commented on #84
yeah np, but is there a reason why using `lazy: true` force the asyncComputed props to show under computed ?

[2019-11-26 10:48] foxbenjaminfox commented on #84
Yeah. `lazy: true` is implemented as a normal computed property wrapping the async computed property, which a getter which when first invoked triggers the first load of the async value.

This is kind of a hack, and all in all I'm not too happy with the complexity needed to implement lazy async computed properties. But it works fine, so even though in retrospect it's a feature I probably shouldn't

[2019-11-26 10:55] #84 closed

[2019-12-04 15:37] doits commented on #25
@mrozekma did you maybe find a solution to this that does not require those workarounds?

[2019-12-04 22:27] saraedum commented on #25
@doits Have you tried the decorator approach described earlier? That mostly works for me in TypeScript.

[2019-12-23 11:11] felixoi opened #86 "Depend async computed on async computed"
My current setup looks like:

[code]
So my second async computed value depends on the first one. This code works, but it's pretty ugly. Is there a way to do this better with this library? If not this would be a feature request.

[2019-12-23 18:55] foxbenjaminfox commented on #86
Of course! In fact, I would say that the whole point of this library is that it lets you ignore the fact that behind the scenes you're working with promises, and just work with properties of the Vue object directly as if everything is synchronous.

The one thing to keep in mind is that `this.project` will be `null` until the API request resolves. Having to handle the `null` case isn't a bug or a p

[2019-12-23 18:59] #76 closed

[2019-12-23 19:56] foxbenjaminfox commented on #25
As of `v3.8.0`, `vue-async-computed` has official typescript support!

If any issues are found, or if it's hard to use, please feel free to open other issues on this repository about it. For now I'm going to be closing this one.

[2019-12-23 19:56] #25 closed

[2019-12-24 01:05] nwtgck commented on #25
Hi, @foxbenjaminfox!

I just tried vue-async-computed@3.8.0 in TypeScript. Could you tell me how to import `AsyncComputed `? I tried several ways to import it, but not successful.

And, I found published vue-async-computed@3.8.0 has no `types/` directory. Is this OK?
![image](https://user-images.githubusercontent.com/10933561/71386955-a4027200-2634-11ea-94ef-61ed4b882acc.png)

[2019-12-24 01:08] nwtgck opened #87 "TypeScript support in 3.8.0"
Hi, @foxbenjaminfox! Thank you very much for support TypeScript officially.

I just tried vue-async-computed@3.8.0 in TypeScript. Could you tell me how to import `AsyncComputed `? I tried several ways to import it, but not successful.

And, I found published vue-async-computed@3.8.0 in my `node_modules` has no `types/` directory. Is this OK?
![image](https://user-images.githubusercontent.com/10933

[2019-12-24 10:22] foxbenjaminfox commented on #87
Thanks for pointing that out. It seems that I made a mistake, and forgot to add the `types` directory to the list of published directories in `v3.8.0`. I've released a `v3.8.1` release which fixes this.

Please let me know if it works for you properly now.

[2019-12-24 10:24] foxbenjaminfox commented on #25
Update: `v3.8.0` didn't actually include the `types` directory by accident. If you've updated to `v3.8.0` and are wondering why the types aren't there, that's why. Please update to the `v3.8.1` release, which includes the missing typescript types which were intented to be in `v3.8.0`.

[2019-12-24 10:47] nwtgck commented on #87
@foxbenjaminfox Thank you very much. It seems the type definition problem was fixed.

I'm not sure the correct usage in TypeScript. I imported like the following.

[code]

, and I have the error below. I found `AsyncComputed` is a class. It is not a decolator any more? I could not find a document to know how to use vue-async-computed in TypeScript.

![image](https://user-images.githubusercontent.c

[2019-12-26 15:27] foxbenjaminfox commented on #87
OK, I'm glad that `v3.8.1` now works. I could definitely export the `IAsyncComputedValue` interface if you want to use it to write a decorator, but I'll actually do you one better: if you'd like to open a PR with your decorator, I'd be happy to merge it. That way everyone else can also benefit from the decorator as well.

All things said, I'm happy to take contributions to this or indeed to any pa

[2019-12-26 17:02] nwtgck commented on #87
@foxbenjaminfox Thanks! I made #88.

[2019-12-26 17:09] #87 closed

[2019-12-27 14:01] nwtgck opened #90 "Add vue-async-computed-decorator to README.md"
Hi @foxbenjaminfox.

I think the decorator package, the like of `vue-async-computed-decorator` should be on README of this repository.

[2019-12-27 15:03] foxbenjaminfox commented on #90
I agree, but for now I'm treating `vue-async-computed-decorator` as something of a beta release. I want to give it a few days or maybe a week or two to iron out all the details (such as  [this bug](https://github.com/foxbenjaminfox/vue-async-computed-decorator/pull/1) that just now got fixed), and after I'm sure that things are more or less stable I'll then release an official `v1.0.0` of `vue-asy

[2019-12-27 15:28] nwtgck commented on #90
@foxbenjaminfox Thanks. I understand the plan. I'll use the decorator package.

[2020-01-09 09:37] felixoi commented on #86
Makes sense. Thanks.

[2020-01-09 09:37] #86 closed

[2020-01-28 06:16] aekazitt commented on #74
Anything being worked on this issue?

[2020-02-06 11:21] DidoMarchet opened #92 "Issue updating reactive variables in asyncComputed"
Hi,
I've got an issues.
If I use reactive variables (such as `this.$route.params`) and I update them it crash.

Maybe I've done something wrong but this is what I do:

[code]

This is the error I get

[code]

If you have any suggestions to figure out this issues please tell me.
Thanks in advance and regards,

Davide

[2020-02-14 12:30] VadimGuslistov opened #93 "asyncComputed return only default value"
Please explain to me why when I run this code I get the default value:
`Vue.use(AsyncComputed);
export default {
  asyncComputed: {
    a: {
      get() {
        return 1;
      },
      default() {
        return 0;
      }
   },
  mounted() {
    console.log(this.a)
  }
}
`

I apologize for the unformed code. For some reason, the code insertion does not work.

[2020-02-15 11:16] VadimGuslistov commented on #93
And generally nothing is returned by 'return' from asyncComputed values

[2020-02-20 13:08] covert8 commented on #86
Hi i'm having some issues using above described method.
`getUserName: {
      async get() {
        let usr = await this.user;
        if (!this.user) return null;
        return this.user.userName;
      }
    },
    user() {
        return this.$axios
          .get(this.apiurl + "/user/info")
          .then(resp => resp.data);
    },
`
The getUserName property just returns undefined. Some guid

[2020-02-27 18:00] petr-motejlek commented on #25
Thank you!

[2020-02-28 08:57] bruceauyeung opened #94 "how to use this plugin with class based vue components?"
this is a really amazing plugin, but i am wondering how to use it with class(such as TypeScript Class) based vue components

[2020-03-03 08:29] mustafakibar commented on #94
vue-async-computed-decorator

[2020-03-04 08:31] bruceauyeung commented on #94
@mustafakibar i have a problem with  `vue-async-computed-decorator` plugin, i fired an issue: https://github.com/foxbenjaminfox/vue-async-computed-decorator/issues/8

would you mind  take a look ?

[2020-03-05 04:00] #94 closed

[2020-03-06 10:29] foxbenjaminfox commented on #93
Your `get` function for `a` isn't `async`, nor does it return a `Promise`. `vue-async-computed` is a library for working with `Promise`s, but nevertheless it does try to "do the right thing" when you return something that is not a `Promise`. To do that, if it finds that you're returning something that isn't a `Promise`, it turns it into one by wrapping it with `Promise.resolve`.

This means that `

[2020-03-06 10:29] #93 closed

[2020-03-06 10:35] foxbenjaminfox commented on #92
You're not doing anything wrong that I can see in that snippet of code; it should work.

Could it be that `getFilters` is the source of this error? Every time that `this.$route.params` changes, `getFilters` will be called with the arguments provided. Are you using `in` in `getFilters` in a way that might be the source of that error? (That is, it ends up trying to do `'state' in undefined`.)

It do

[2020-03-06 10:35] #92 closed

[2020-03-06 13:11] foxbenjaminfox commented on #93
This seems related to #74, and if so it's likely that #95 will fix it.

[2020-07-08 13:15] royduin opened #98 "Executed without being called, normal computed works different"
[code]

When I put this in a component without calling any of these properties I'm getting a `test1` alert. Why is a async computed property executed without being called and a normal computed property not?

[2020-07-17 17:41] DGollings opened #100 "Typescript / vue-async-computed Property 'foo' does not exist on type 'CombinedVueInstance<Vue, {...}"
Note that I don't use the vue/typescript class decoration style, so didn't have much luck with the examples in https://github.com/foxbenjaminfox/vue-async-computed/issues/25

No matter what I do, spent the entire afternoon on this because I really like vue-async-computed ;), I get the error `Property 'foo' does not exist on type 'CombinedVueInstance`.

'Annoyingly', everything works just fine, it'

[2020-08-14 04:54] hybridwebdev opened #101 "Doesn't seem to deep watch properties."
So I think i came across an issue where asyncComputed does not deep watch properties used in it. Consider the following:

[code]

As you can see, we have 3 properties that are used in the async computer getter. However, if these are deeply nested objects the async computed method is not recalled.

So my question is, is this intended behavior, or an oversite. Of course you can always add a manual r

[2020-08-14 09:51] foxbenjaminfox commented on #101
I can't quite tell what's going on in your example: for one thing, where is the deeply nested object access that is causing the problem?

The way `asyncComputed` works behind the scenes is using Vue's normal `computed` mechanism: the function for computing an `asyncComputed` property is used internally as a normal `computed` function (one whose return value is a `Promise`, of course.) What this me

[2020-08-14 10:49] foxbenjaminfox commented on #98
You're right that this is a slight difference in behavior. It is, however, necessary.

Let's take your example. Imagine we're writing a method like this:

[code]

This works fine, whenever you call `testMethod`. Even if you call `testMethod` before the `test2` computed value has been computed, Vue can be sure to computed the value in the moment, before continuing on the the second line of `testMet

[2020-08-14 10:49] #98 closed

[2020-08-14 20:55] hybridwebdev commented on #101
It seems I may have jumped the gun on opening this ticket. According to my tests, it does indeed work as expected in an isolated environment: https://codesandbox.io/s/crazy-feather-qkv1c?file=/src/App.vue

That's a loose simulation of what i'm doing. However, my actual implementation is slightly different and too complex/private to dive into on here.

I had theorized after looking at your code, th

[2020-08-15 04:41] #101 closed

[2020-08-18 07:41] #74 closed

[2020-08-18 07:43] royduin commented on #98
Wow, thank you for the well explained answer!

[2020-09-10 22:35] flintzPax8 opened #103 "Initial State of Async Call 'updating' set to true when using shouldUpdate()"
When using the `shouldUpdate()` function for my asyncComputed calls, the initial state of

```asyncCOmputed.thingImFetching.updating = true```, even if the `shouldUpdate()` function returns false.

Here's a code pen with an example: https://codepen.io/fredlintz5/pen/GRZxzbp

If I wrap the return statement with an `if` statement instead of using `shouldUpdate()` then ```asyncCOmputed.thingImFetchin

[2020-09-24 23:03] Tobiasartz opened #104 "Vue 3 support?"
I'm playing around with this library in Vue 3 but am getting new Promises back instead of the resolved state.
Is there anyone else out there using this library within Vue 3 successfully?

[2020-10-08 11:39] doits commented on #100
I think there is no automatic solution. You can duplicate the definitions like this https://github.com/foxbenjaminfox/vue-async-computed/issues/25#issuecomment-485990607 though, then it will be picked up.

[2020-10-13 16:19] shrpne opened #105 "Add support to installation as mixin."
I want to install it on a single component, not on a whole Vue instance.

Looks like it should be pretty easy, just export [this object](https://github.com/foxbenjaminfox/vue-async-computed/blob/master/src/index.js#L30) as reusable mixin

[2020-10-15 11:28] #105 closed

[2020-10-25 18:32] michaelzangl commented on #104
I have the same problem with migrating to vue3. Wile the concept of this library would still work there, it is much simpler to write it using the composite API. This avoids having to install it globally (=> use in libraries, tree shaking) and makes some code cleaner.

This is my current version, written in Typescript

[code]

Use it like this:
[code]

[2020-10-28 12:49] xi4KOm3vhna opened #107 "Make Promise as return of method update() or new method updatePromise()"
For example:
[code]
Sorry for my English.

[2020-11-11 11:40] davidje13 opened #108 "Provide option to exclude or explicitly list watched properties"
I have just encountered a situation where I managed to get an infinite loop due to updating vuex state as part of an asynchronously computed property. In fairness I realise this is against the Vue principles but it is the only way I know of to display a _global_ loading indicator.

The basic setup:

[code]

Store setup:

[code]

This results in an infinite loop, where the next call is made before

[2020-12-22 15:38] relief-melone commented on #100
I think this should be possible. It has been done with mixins before
https://github.com/ktsn/vue-typed-mixins/blob/master/src/index.ts

[2020-12-30 22:08] SirWindfield opened #110 "Value getting computed on route changes"
Hi! I am really new to Vue and NuxtJS, so please bare with me if this is a common problem or missing, general knowledge :)

I have created a component that defines `asyncComputed` data, as I do access content using `@nuxtjs/content` and they only provide a Promise-based API.
[code]

The global state contains a list of items that I need to properly calculate the data. I iterate over them inside of

[2021-01-07 12:42] greendrake commented on #104
Thanks a lot, that works like a charm! I only had to make it `export default function` instead of `export function` to be able to import in Vue components. Wondering if is coming out-of-the-box any time soon. It should really.

[2021-02-09 03:06] ladjzero commented on #70
Yes. Rejection error can escape the error boundary which catches error via `errorCaptured`.

[2021-05-30 06:34] nlassaux opened #113 "kjidjvtlcdgjj"

[2021-05-30 06:34] #113 closed

[2021-09-25 09:42] vzakharov opened #115 "Use with Nuxt?"
Sorry for a noob question, but how do I use it with Nuxt?

[2021-12-06 09:10] cxy930123 opened #117 "Provide cancel method"
Can you provide onCancel method as a parameter?
[code]

[2022-02-22 05:02] athulanilthomas commented on #115
@vzakharov just install the package and register it as a plugin

`myPlugin.client.js`
[code]

then in your component, use

`myComponent.vue`
[code]

[2022-02-22 05:22] athulanilthomas commented on #104
@Tobiasartz

In vue3 use can use [VueUse](https://vueuse.org/core/asynccomputed/)  to deal with async computed properties

[2022-04-28 21:03] gustawdaniel opened #119 "implement set like get"
In regular computed i can write

[code]

but there "set" seems to be not implemented.

[2022-05-01 06:09] EO2875 opened #120 ""this.$options is undefined" is being raised when using vue async computed"
At some point in my component I wanted to do this:
[code]
I checked the console and `this.$options.data` gets overwritten by vue-async-computed to be `vueAsyncComputedInjectedDataFn`, and the error is in this line:
[code]
In my component, this solves the error:
[code]
However, I think this problem should be fixed from vue-async-computed's side, not from the developer side. As I understand, the Vue